@import "tailwindcss";

@source "../**/*.{astro,html,js,jsx,md,mdx,svelte,ts,tsx,vue}";

@layer components {
    a:hover {
        color: var(--color-amber-900);
    }
}

header, footer {
    max-width: 800px;
}

body {
    font-family: 'DM Sans Variable', sans-serif;
}