---
import Page from '../layouts/Page.astro';
import content from '../content/contact.json';
import { markdown } from '@astropub/md';
---

<Page title="Contact" permalink="/contact" columns={1}>
    <div id="main-content" class="flex flex-col h-full justify-around w-full sm:w-2/3 mx-auto">
        <article class="mb-5">
            {await markdown(content.content)}
        </article>
        <form
            class="flex flex-col w-full max-w-80 gap-3 mx-auto"
            name="contact"
            method="POST"
            netlify-honeypot="bot-field"
            data-netlify="true"
        >
            <label class="hidden">
                Don’t fill this out if you’re human: <input name="bot-field" />
            </label>
            <label>
                <div>Name:</div>
                <input
                    class="w-full rounded-sm outline-1 outline-gray-400 focus:outline-amber-300"
                    type="text"
                    name="name"
                />
            </label>
            <label>
                <div>Email:</div>
                <input
                    class="w-full rounded-sm outline-1 outline-gray-400 focus:outline-amber-300"
                    type="text"
                    name="email"
                    required
                />
            </label>
            <label>
                <div>Message:</div>
                <textarea
                    class="w-full rounded-sm outline-1 outline-gray-400 focus:outline-amber-300"
                    rows="10"
                    name="message"></textarea>
            </label>
            <button
                class="block p-1 rounded bg-amber-900 text-white hover:cursor-pointer hover:bg-amber-700"
                type="submit">Send</button
            >
        </form>
    </div>
</Page>
