---
import Page from '../layouts/Page.astro';
---

<Page title="Contact" permalink="/contact" description="" columns={1}>
    <div class="flex-col h-full justify-between w-full md:w-2/3 m-auto">
        <article>
            Thanks for visiting my website. Please use the form below to contact me about any sales or commissions. You
            can also reach me directly by emailing <span class="font-bold">dan [at] danmurray [dot] com</span>
        </article>
        <hr class="w-full" />
        <form class="flex-col gap-3" name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true">
            <p class="hidden">
                <label>
                    Don’t fill this out if you’re human: <input name="bot-field" />
                </label>
            </p>
            <p>
                <label>
                    <div>Email:</div>
                    <input
                        class="rounded-sm outline-1 outline-gray-400 focus:outline-amber-300"
                        type="text"
                        name="email"
                    />
                </label>
            </p>
            <p>
                <label>
                    <div>Message:</div>
                    <textarea class="rounded-sm outline-1 outline-gray-400 focus:outline-amber-300" name="message"
                    ></textarea>
                </label>
            </p>
            <button class="p-3 rounded-sm" type="submit">Send</button>
        </form>
    </div>
</Page>
