---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import ContactForm from '../components/ContactForm.astro';
---

<head lang="en">
    <BaseHead title="Contact" permalink="/contact" description="contat me" />
</head>
<body>
    <BlogHeader />
    <ContactForm />
</body>
