<div class="container text-gray-600">
    <slot />
</div>

<style>
    .container {
        max-width: 1000px;
        margin: 0 auto;
        min-height: 100vh;
    }

    a:hover {
        color: var(--color-amber-900);
    }
</style>
