---
import content from '../content/homepage.json';
import Facebook from '../assets/images/facebook.svg';
import Instagram from '../assets/images/instagram.svg';

const socials = content.socials.map((social) => ({
    ...social,
    icon: social.website === 'Facebook' ? Facebook : Instagram,
}));

const year = new Date(Date.now()).getFullYear();

const { classes = '' } = Astro.props;
---

<footer class={`${classes} flex w-full pt-3 justify-between border-t-1 border-gray-200`}>
    <ul class="flex gap-2">
        {
            socials.map((social) => (
                <li>
                    <a href={social.url} title={social.website} target="_blank" rel="nofollow noreferrer">
                        <social.icon class="fill-gray-500 hover:fill-amber-900" width="1rem" height="1rem" />
                    </a>
                </li>
            ))
        }
    </ul>
    <span class="text-sm">&copy; Daniel Murray {year}</span>
</footer>
