---
import { SITE } from '../config';
import Container from './Container.astro';
import '../styles/global.css';
---

<header class="w-full pt-2 bg-[aliceblue]">
    <Container>
        <div class="flex justify-between w-full mb-8">
            <a href="/">{SITE.title}</a>
            <nav>
                <ul class="flex gap-2">
                    <li>
                        <a href="/portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </Container>
</header>

<!-- <style>
    header {
        background-color: aliceblue;
        margin-bottom: 3rem;
    }


</style> -->
