---
import { SITE } from '../config';

interface Props {
    routes: {
        title: string;
        path: string;
    }[];
    classes?: string;
    currentTitle?: string;
}

const { classes = '', currentTitle = '', routes } = Astro.props;
---

<header
    class={`${classes} sticky top-0 backdrop-blur-sm flex justify-between w-full pb-8 pt-5 w-full border-b-1 border-gray-500 bg-white/70 z-1`}
>
    <a href="/">{SITE.title}</a>
    <nav>
        <ul class="flex gap-3">
            {
                routes.map(({ title, path }) => (
                    <li class={currentTitle === title ? 'text-amber-900' : ''}>
                        <a href={path}>{title}</a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>
