---
import BaseHead from '../components/BaseHead.astro';
import Container from '../components/Container.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import content from '../content/homepage.json';
import '@fontsource-variable/dm-sans';

interface Props {
    title: string;
    permalink: string;
    columns?: 1 | 2;
}

const { title, permalink, columns = 2 } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={`${content.title} | ${title}`} {permalink} />
        <slot name="head-slot" />
    </head>
    <body class="min-h-screen">
        <a class="sr-only" href="#main-content">Skip to main content</a>
        <Container>
            <main class="flex w-full min-h-screen">
                {columns === 2 && <slot name="left-side" />}
                <div class="flex flex-col w-full justify-between px-5 pt-0 pb-1">
                    <Nav
                        routes={[
                            {
                                title: 'Portfolio',
                                path: '/portfolio',
                            },
                            {
                                title: 'About',
                                path: '/about',
                            },
                            {
                                title: 'Contact',
                                path: '/contact',
                            },
                        ]}
                        currentTitle={title}
                        classes={columns === 1 ? 'mb-8 mx-auto' : ''}
                    />
                    <slot />
                    <Footer classes={columns === 1 ? 'mt-8 mx-auto' : ''} />
                </div>
            </main>
        </Container>
    </body>
</html>
