---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import Page from '../../layouts/Page.astro';

const works = await getCollection('portfolio');
---

<Page title="Portfolio" permalink="/portfolio" description="portfolio" columns={1}>
    <style slot="head-slot">
        img {
            height: auto;
            aspect-ratio: 1;
        }

        .portfolio {
            margin: auto auto;
        }
    </style>
    <div slot="left-side" class="w-2/3"></div>
    <div class="portfolio sm:columns-2 lg:columns-3 gap-x-4 gap-y-4 w-full md:w-2/3 mx-auto">
        {
            works.map(({ data }, index) => (
                <a href={`/portfolio/${data.id}`} class="aspect-square relative" data-astro-prefetch="hover">
                    <Image
                        src={data.image}
                        alt={data.title}
                        priority={index < 6}
                        layout="full-width"
                        background="blurhash"
                        fit="cover"
                        class="mb-4 bg-gray-500"
                    />
                </a>
            ))
        }
    </div>
</Page>
