---
import { getCollection } from 'astro:content';
import { Image, Picture } from 'astro:assets';
import Page from '../../layouts/Page.astro';
import { ClientRouter } from 'astro:transitions';

const works = await getCollection('portfolio', ({ data }) => data.active);
const sortedWorks = works.sort((a, b) => a.data.order - b.data.order);

const { searchParams } = Astro.url;

let visible = 'all';
if (searchParams.get('q')) {
}
---

<Page title="Portfolio" permalink="/portfolio" description="portfolio" columns={1}>
    <style slot="head-slot">
        img {
            height: auto;
            aspect-ratio: 1;
        }

        .portfolio {
            margin: auto auto;
        }
    </style>
    <ClientRouter slot="head-slot" />
    <div class="portfolio sm:columns-2 lg:columns-3 gap-x-4 gap-y-4 w-full md:w-2/3 mx-auto">
        {
            sortedWorks.map(({ data }, index) => (
                <a href={`/portfolio/${data.id}`} title={data.title} class="aspect-square" data-astro-prefetch="hover">
                    <Picture
                        src={data.image}
                        alt={data.title}
                        priority={index < 6}
                        layout="responsive"
                        background="blurhash"
                        fit="cover"
                        class="mb-4"
                        widths={[300, 500, 700]}
                        sizes="(min-width: 650px) 300px, (max-width: 500px) 500px, (max-width: 400px) 700px"
                    />
                </a>
            ))
        }
    </div>
</Page>
